<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
           <img src="https://cdn.iconscout.com/public/images/icon/free/png-512/hacker-news-logo-34f049826f4bfaff-512x512.png">
           <a class="navbar-brand" href="/">Hacker News Scrapper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            
        </ul>
        <a class="btn btn-primary navbar-btn" id="scrapeBtn" href="/api/articles/scrape">Scrape New Articles!</a>
    </div>
</nav>